{#

Home

#}

        <a name="home_"></a>
         <!-- Main (Home) section -->
        <section class="section original" id="home_">
            <div class="container">

                <div class="row">
                    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

                        <!-- Site Title, your name, HELLO msg, etc. -->
                        <!-- <p class="tagline"><img src="{{ asset('apple-touch-icon.png') }}" alt='JoanLogo'/></p> -->
                        <h1 class="subtitle">                        
                        Joan Dídac Viana Fons</h1>
                        <p class="tagline">my personal website</p>

                        <!-- Short introductory (optional) -->
                        <!--                        <h3 class="tagline">
                                                    <br>my personal web<br>
                                                </h3>-->
                        <h3 class="arrow">
                            <br><a class ="black" href="#about_"><i class="grow fa fa-arrow-circle-down"></i></a><br>
                        </h3>
                    </div> <!-- /col -->
                </div> <!-- /row -->

            </div>
        </section>
        <!--<hr class="secsep"/>-->
