{#

Navigator

#}
 
        <nav class="navbar navbar-inverse navbar-fixed-top mainmenu">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-body" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#home_"><strong>Joan Dídac Viana Fons</strong></a>

                    <div class="nav navbar-nav socialnav">
                        <a href="https://plus.google.com/111509135666729156123" class="btn btn-social-icon btn-google" target="blank">
                            <span class="fa fa-google-plus"></span> </a>
                        <a class="btn btn-social-icon btn-github" href="https://github.com/JoanViana" target="blank">
                            <span class="fa fa-github"></span>  </a>
                    </div>
                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse bar mainmenu" id="navbar-body">
                    <ul class="nav navbar-nav nav-tabs" role="tablist">
                        <li class="active"><a href="#home_">Home <span class="sr-only">(current)</span></a></li>
                        <li><a href="#about_">About me</a></li>
                        <li><a href="#files_">Archives</a></li>
                        <li><a href="#contact_">Contact</a></li>
                        <!--                        <li class="dropdown">
                                                    <a href="#files" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Archive <span class="caret"></span></a>
                                                    <ul class="dropdown-menu navbar-inverse dropdown-items">
                                                        <li><a href="#pv">Photovoltaics</a></li>
                                                        <li><a href="#inf">Web-develpment</a></li>
                                                        <li><a href="#eng">Engineering</a></li>
                                                        <li><a href="#bio">Bio-construction</a></li>
                                                        <li role="separator" class="divider"></li>                                
                                                    </ul>                            
                                                </li>-->
                        <!--<li><a href="#files_">Archives</a></li>-->
                        <!--<li><a href="#contact_">Contact</a></li>-->



                        <!--                        <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="#head" class="active">Home</a></li>
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="#about">About me</a></li>
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="#files">Archives</a></li>
                                                                        <div class="nodisplay">
                                                                            <li role="presentation">
                                                                                <a role="menuitem" tabindex="0" href="#pv">Photovoltaics</a></li>
                                                                            <li role="presentation" >
                                                                                <a role="menuitem" tabindex="0" href="#eng">Engineering</a></li>
                                                                            <li role="presentation" >
                                                                                <a role="menuitem" tabindex="0" href="#web">Web Development</a></li>
                                                                            <li role="presentation" >
                                                                                <a role="menuitem" tabindex="0" href="#bio">Bio-Construction</a></li>      
                                                                        </div>
                        
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="#contact">Contact</a></li>
                        
                        
                                                <li class="dropdown">
                                                    <a href="#files" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Archive <span class="caret"></span></a>
                                                    <ul class="dropdown-menu navbar-inverse bigg">
                                                        <li><a href="#pv_">Photovoltaics</a></li>
                        
                                                        <li role="separator" class="divider"></li>                                
                                                    </ul>                            
                                                </li>-->
                    </ul>

                    <!--                    <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#contact_">Contact</a></li>
                                                                    <li class="dropdown">
                                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                                                        <ul class="dropdown-menu">
                                                                            <li><a href="#">Action</a></li>
                                                                            <li><a href="#">Another action</a></li>
                                                                            <li><a href="#">Something else here</a></li>
                                                                            <li role="separator" class="divider"></li>
                                                                            <li><a href="#">Separated link</a></li>
                                                                        </ul>
                                                                    </li>
                                        </ul>-->


                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
